{% extends 'base.html' %}
{% block content %}
<body style="background-image: linear-gradient(to bottom right,blue,cyan);">
    {%load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/style2.css' %}" />
        <img src="{% static 'home/images/eLearning3.jpg' %}" alt="elearn" width="100%" height="300px">
        <br>
        <button style="float: inline-start;" class="button2" name="Home" value="Home" onclick="location.href='/home/adminhome'">Home</button>
        <br>
        <br>
    <table border="2" style="width: 100%;">
        <tr>
            <th style="">Course Image</th>
            <th>Course name</th>
            <th>Course Category</th>
        </tr>
        {% for c in courses %}
        <tr>
            <td>
                <img src="{{c.img_file.url}}" style="width: 33.33%;height: 150px;">
            </td>
            <td>
                <h3>{{c.cname}}</h3>
            </td>
            <td>
                <h3>{{c.categoryname}}</h3>
            </td>
            <td>
                <form action="/home/deletecourse/" method="POST">{% csrf_token %}
                <input type="hidden" name="cname" value="{{c.cname}}">
                <input type="submit" value="delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    </body>
    {% endblock %}