{%extends 'base.html' %}
{% block content %}
<body style="background-color: darkseagreen;">
    <form action="/logintosite/resetpassword/" method="POST">{% csrf_token %}
    New Password:<input type="password" name="npwd" required/><br>
    Re-Password:<input type="password" name="rpwd" required/><br>
    {% if msg %}
    <p style="color: red;">*{{msg}}</p>
    {% endif %}
    <input type="hidden" name="user" value="{{user.emailID}}"/>
    <input type="submit" value="confirm"/>
    </form>
</body>
{% endblock %}