{% extends 'base.html' %}
<html>
    <head>
        <title>Home</title>
    </head>
    {% block content %}
    <body style="background-image: linear-gradient(to bottom right,blue,cyan);">
        
        {% load static %}   
        <link rel="stylesheet" type="text/css" href="{% static 'home/css/style2.css' %}" />
        <h1 style="color:white; text-align: center;">Welcome {{user}}!!!</h1>
        <button class="button2" onclick="location.href='/userhome/gotouserhome/'">Home</button>
        <button class="button2" onclick="location.href='/userhome/viewprofile/'">Profile</button>
        <button class="button2" onclick="location.href='/userhome/mycourses/'">My Courses</button>
        <form action="/logintosite/logout/" method="POST">{% csrf_token %}
        <input type="hidden" name="name" value="{{user.name}}"/>
        <input class="button2" type="submit" value="logout"/>
        </form>
        <img src="{% static 'home/images/eLearning4.jpg' %}" style="width: 100%; height: 300px;">
        {% if course %}
            <h2>InProgrss Courses</h2>
            {% for c in course %}
            {% with status=c.status %}
            {% if status == "in progress" %}
            <form action="/userhome/viewcourse/" method="POST">{% csrf_token %}
                {{c.cname}}
                <input class="button2" type="submit" value="view course">
                <input type="hidden" name="cname" value="{{c.cname}}">
            </form>
            {% endif %}
            {% endwith %}
            {% endfor %}

            <h2>Completed Courses</h2>
            {% for c in course %}
            {% with status=c.status %}
            {% if status == "completed" %}
                {{c.cname}}<br>
            {% endif %}
            {% endwith %}
            {% endfor %}
            <!--{% for c in course %}
            <form action="/userhome/viewcourse/" method="POST">{% csrf_token %}
                {{c.cname}}
                <input type="hidden" name="cname" value="{{c.cname}}">
                <input type="submit" value="view course">
            </form>
            {% endfor %}-->
        {% else %}
        <h2>Your enrolled courses will be displayed here..</h2>
        {% endif %}
    </body>
    {% endblock %}
</html>