{% extends 'base.html' %}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    {% block content %}
    {% load static %}
    <body style="background-image: linear-gradient(to bottom right,blue,cyan);">
        <link rel="stylesheet" type="text/css" href="{% static 'home/css/style2.css' %}" />
            <button class="button2" onclick="location.href='/home/gotohome/'">Home</button>
            <button class="button2" onclick="location.href='/logintosite/login/'">Login</button>
            <button class="button2" onclick="location.href='/registration/getregsdetails/'">Sign Up</button>
            <button class="button2" onclick="location.href='/logintosite/adminlogin/'">Adminlogin</button>  
        <img src="{% static 'home/images/eLearning3.jpg' %}" alt="elearn" width="100%" height="300px">
        {% if course %}
            <table>
                {% for c in course %}
                    <tr>
                        <form action="/userhome/enroll/" method="POST">{% csrf_token %}
                        <td>
                            <img src="{{c.img_file.url}}" alt="{{c.cname}}" style="width: 300px; height: 250px;">
                        </td>
                        <td>
                            <input type="submit" value="enroll">
                        </td>
                        <input type="hidden" name="cname" value="{{c.cname}}">
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </body>
    {% endblock %}

</html>